<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title layout:fragment="title">Products</title>
</head>

<body>
<div layout:fragment="content">
    <h1>Product List</h1>
    <ul>
        <li th:each="product : ${products}">
            <span th:text="${product.name}">Product Name</span> -
            <span th:text="${product.price}">Product Price</span>
            <a th:href="@{'/products/view/' + ${product.id}}">View Details</a>
            <a th:href="@{'/cart/add/' + ${product.id}}">Add to Cart</a>
        </li>
    </ul>
</div>
</body>
</html>
