<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>All Registered Users</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="user : ${users}">
    <td th:text="${user.id}">1</td>
    <td th:text="${user.username}">JohnDoe</td>
    <td>

      <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> |
      <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
